*.bat
*.orig
*.pyc
*.sh
*.sql
.svn
.project
.pydevproject
.settings
.installed.cfg
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
commit.txt
media/upload/*
searchindex/
snapshots/
gitrecipe/gitrecipe.egg-info/