{% extends "basket/base.html" %}

{% block title %}Корзина{% endblock title %}
{% block content_title %}Корзина{% endblock content_title %}

{% block head %}
<script type="text/javascript" src="/media/basket/js/jquery-1.4.2.min.js"></script>
{{ block.super }}
{% endblock %}

{% block content %}
<script type="text/javascript">
<!--
$(document).ready(function() {
	$('#basket-refresh').click(function() {
		$(this).after('<input type="hidden" name="refresh" value="1" />');
	});
});
//-->
</script>
{% if order %}
    <form action="." method="post">
	    <table class="checkout">
	        <tr>
	            <th>&nbsp;</th>
	            <th>Наименование товара</th>
	            <th>Цена, руб.</th>
	            <th>Кол-во, шт.</th>
	            <th>Сумма, руб.</th>
	        </tr>
	        {% for form in formset.forms %}
			<tr>
	            <td>{{ form.keep }}{{ form.content_type }}{{ form.object_id }}{{ form.id }}</td>
	            <td><a target="_blank" href="{{ form.instance.content_object.get_absolute_url }}" title="Перейти на страницу товара">{{ form.instance.content_object }}</a></td>
				<td>{{ form.instance.get_price }}</td>
				<td>{{ form.quantity }}</td>
				<td>{{ form.instance.get_sum }}</td>
			</tr>
	        {% endfor %}
	        <tr>
	            <th colspan="3">Итого</th>
	            <th>{{ order.goods }}</th>
	            <th>{{ order.summary }}</th>
	        </tr>
	    </table>
        <p>
		    {{ formset.management_form }}
            <input type="submit" value="Оформить заказ" />
            <input type="submit" id="basket-refresh" value="Пересчитать" />
        </p>
	</form>
{% else %}
	<p>Ваша корзина пуста</p>
{% endif %}
{% load basket_tags %}{% show_basket_history %}
{% endblock content %}
