{% extends "basket/base.html" %}

{% block content %}
<div class="basket">
    <h3>Корзина</h3>
	{% if order %}
    <p>В корзине всего {{ order.goods }} товаров на сумму {{ order.price }} руб.</p>
    <form action="." method="post">
    {{ formset.management_form }}
    <table class="checkout">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <tr>
            <th>&nbsp;</th>
            <th>Наименование товара</th>
            <th>Кол-во, шт.</th>
            <th>Сумма, руб.</th>
        </tr>
        {% for form in formset.forms %}
		<tr>
            <td>
                {{ form.keep.errors }}
                {{ form.keep }}
            </td>
            <td>
                <a href="{{ form.instance.content_object.get_absolute_url }}" title="{{ form.instance.content_object }}">{{ form.instance.content_object }}</a>
                <br/>
                Цена: {{ form.instance.content_object.price }} руб.<br/><br/>
            </td>
			<td>{{ form.quantity }}</td>
			<td><span class="price">{{ form.instance.content_object.price }}</span></td>
            {{ form.content_type }}{{ form.object_id }}{{ form.basket }}{{ form.id }}
		</tr>
        {% endfor %}
        <tr>
            <th colspan="2">Итого</th>
            <th>{{ order.goods }}</th>
            <th><span class="price">{{ order.price }}</span></th>
        </tr>
    </table>
        <p>
            <input type="submit" value="Оформить заказ" />
            <input type="submit" id="refresh-basket" value="Пересчитать" />
        </p>
	</form>
    {% else %}
       <h3>Ваша корзина пуста</h3>
	{% endif %}

    {% show_basket_history %}
</div>
{% endblock content %}
