{% extends "basket/base.html" %}

{% block title %}Оформление заказа{% endblock title %}
{% block content_title %}Оформление заказа{% endblock content_title %}

{% block content %}
    {% if order %}
    <form action="." method="post">
	<table>
		{{ form }}
		<tr><td colspan="2">
			<input type="button" class="submit" value="Назад" onclick="document.location = '{% url basket %}';"/>
			<input type="submit" class="submit" value="Заказать" />
		</td></tr>
	</table>
    </form>
    {% else %}
    <h3>Ваша корзина пуста</h3>
    {% endif %}
{% endblock %}
