{% extends "basket/base.html" %}

{% block title %}Отслеживание заказа{% endblock title %}
{% block content_title %}Отслеживание заказа{% endblock content_title %}

{% block content %}
    {% if form %}
	    <form action="." method="post">
			<table>
				{{ form }}
				<tr><td colspan="2"><input type="submit" class="submit" value="Отправить" /></td></tr>
			</table>
	    </form>
    {% endif %}

    {% if order %}
        <p>Статус заказа: {{ order.get_status }}</p>
        {% if order.orderstatus_set.all %}
	        <p>История изменений:</p>
	        <ul>
	        {% for orderstatus in order.orderstatus_set.all %}
	            <li>{{ orderstatus.date|date:"Y/m/d" }}: {{ orderstatus }}</li>
	        {% endfor %}
	        </ul>
        {% endif %}
    {% else %}
       {% if order_id %}
        	Заказа с номером {{ order_id }} не сущеcтвует. Проверьте правильность ввода.
        {% endif %}
    {% endif %}
{% endblock %}
