{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% block after_field_sets %}
<fieldset class="module aligned">
  <h2><div class="description">Онлайн-заказ #<strong>{{ original.id }}<strong></div></h2>
  <h3><div>Дата заказа: {{ original.orderinfo.registration_date|date:"d/m/y" }}</div>
  <div>Время заказа: {{ original.orderinfo.registration_date|time:"H:i" }}</div></h3>
    <table>
    <th>№</th>
    <th>Штрихкод</th>
    <th>Наименование</th>
    <th>Количество</th>
    <th>Цена</th>
    <th>Сумма</th>
    {% for item in original.items.all %}
      <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ item.content_object.barcode }}</td>
      <td>{{ item.content_object }}</td>
      <td style="text-align:center">{{ item.quantity }}</td>
      <td>{{ item.get_price }}</td>
      <td>{{ item.get_sum }}</td>
      <tr>
    {% endfor %}
    </table>
      <div class="form-row">
      <h3>Сумма заказа: {{ original.price }}<br/> Количество товаров: {{ original.goods }}</h3>
      </div>
      <div class="form-row">
      </div>
</fieldset>
{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}

